body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 40px auto;
  line-height: 1.6;
  padding: 0 20px;
}

h1 {
  color: #333;
}

h2 {
  margin-left: 15px;
  color: #f17aa0;
}

div {
  border: 1px solid #ddd;
  border-radius: 25px;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  list-style: none;
}

a {
  color: #bdaa67;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 15px 20px 30px 20px;
}
